.App {
  margin: 35px auto;
  max-width: 900px;
}

.App footer {
  font-size: 10px;
  text-align: center;
}

.App p {
  margin-bottom: 5px;
}

.App a {
  color: black;
  font-size: 10px;
  font-weight: bolder;
  text-decoration: none;
}
