:root {
  --main-branding-color: lightpink;
}
.Weather {
  background: rgba(255, 255, 255, 0.6);

  border-radius: 8px;
  margin: 30px auto;
  max-width: 800px;

  padding: 20px;
}

.search-bar {
}

.search-button {
  border: 1px solid black;
}

.search-button:hover {
  background: var(--main-branding-color);
}

.Weather h1 {
  color: black;
  font-size: 48px;
  margin-top: 30px;
}

.weather canvas {
  margin-top: 5px;
}

.Weather .temperature {
  color: black;
  font-size: 70px;
  margin-left: 5px;
}

.Weather .units {
  line-height: 64px;
  vertical-align: top;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
}
