:root {
  --main-branding-color: #83cdea;
}
.Weather {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  margin: 40px auto;
  max-width: 800px;
  padding: 20px;
}

.search-bar {
  font-size: 12px;
}

.search-button {
  background: rgba(169, 217, 239);
  font-size: 12px;
}

.search-button:hover {
  background: var(--main-branding-color);
  color: white;
}

.Weather h1 {
  color: var(--main-branding-color);
  font-size: 48px;
  margin-top: 30px;
}

.Weather .temperature {
  color: var(--main-branding-color);
  font-size: 70px;
  line-height: 50px;
  margin-left: 5px;
}

.Weather .units {
  color: var(--main-branding-color);
  font-size: 16px;
  font-weight: bolder;
  line-height: 10px;
  vertical-align: top;
}

.Weather a {
  color: black;
  font-size: 16px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 12px;
  list-style: none;
}
